$error: #e1bab3;
$success: #47d7ab;
$info: #9bdae8;
$button-bg-primary: #ece8f1;
$font: #323f48;

$--primary: #34194E;
$--secondary: #6A737B;
$--success: #47d7ab;
$--info: #9bdae8;
$--warning: #ffc107;
$--danger: #e1bab3;

$cleo-purple-1: $--primary;
$cleo-purple-2: #64456E;
$cleo-purple-3: #ede2ef;

$cleo-tan-1: #87645a;
$cleo-tan-2: #ddc9b3;
$cleo-tan-3: #e9ded1;

$cleo-pink-1: #9b6b7e;
$cleo-pink-2: #d5a6a6;
$cleo-pink-3: #f6e4e4;



$button-text-primary: $--primary;
$soft-gray: #bdc3c7;
@mixin box-padding {
  padding: 53px 53px 30px 53px;
}
@mixin box {
  border-radius: 20px;
  background-color: #fff;
}

span,p,h1,h2,h3,h4,h5,div,body {
  color: $font;
}
html, body, #root, .App {
  height: 100%;
}
.h-100 {
  height: 100%;
}
a, .link {
  color: black;
  text-decoration: none;
}
.App {
  text-align: center;
  background-color: #ecf0f1;
  .page {
    background-color: white;
    height: 100%;
    &.posts {
      background-color: $cleo-pink-2;
    }
  }
}
.font-12 {
  font-size: 12px;
}
.font-22 {
  font-size: 22px;
}

.App-logo {
  height: 50px;
  pointer-events: none;
  margin-right: 8px;
  color: $--primary;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.side-column {
  @include box;
  height: 30vh;
  min-height: 300px;
  background-color: lighten($button-bg-primary, 20%);
}

.chip {
  background-color: $cleo-purple-3;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  margin-right: 18px;
}

.post-wrapper {
  @include box;
  margin-bottom: 18px;
  .post-item {
    text-align: left;
  }
  .post-meta {
    font-size: 18px;
    margin-right: 50px;
    color: $--secondary;
    span {
      margin-left: 12px;
      color: $--secondary;
    }
  }
  .poll {
    display: flex;
    //.btn {
    //  margin-right: 6px;
    //}
  }
  .poll-results {
    text-align: left;
  }
}

.post-detail-wrapper {
  border-bottom: 1px solid $--secondary;
}

.topbar {
  height: 90px;
  padding-top: 35px;
  .notifications {
    font-size: 18px;
    color: $--primary;
  }
  &.posts {
    background-color: #E9DED1;
  }
}
.text-muted {
  color: $--secondary;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
